executing==2.1.0
pexpect==4.9.0
absl-py==2.1.0
pandas==2.2.3
tomli==2.2.1
decorator==5.1.1
filelock==3.16.1
idna==3.10
wandb==0.19.1
whichcraft==0.6.1
traitlets==5.14.3
numpy==2.2.6
smmap==5.0.1
scikit-learn==1.6.0
ptyprocess==0.7.0
openai==1.82.0
munch==4.0.0
portpicker==1.6.0
GitPython==3.1.43
fonttools==4.55.3
lbforaging==2.0.0
urllib3==2.2.3
parso==0.8.4
colorama==0.4.6
fancycompleter==0.9.1
pettingzoo==1.24.3
anyio==4.9.0
snakeviz==2.2.2
requests==2.32.3
Jinja2==3.1.4
imageio==2.36.1
gitdb==4.0.11
wrapt==1.17.0
torchvision==0.20.1
pytest==8.3.4
seaborn==0.13.2
Farama-Notifications==0.0.4
fsspec==2024.10.0
wheel==0.44.0
networkx==3.4.2
matplotlib==3.9.3
jedi==0.19.2
joblib==1.4.2
PyYAML==5.3.1
setuptools==75.1.0
pyrepl==0.9.0
protobuf==3.20.3
iniconfig==2.0.0
asttokens==3.0.0
tqdm==4.67.1
future==1.0.0
exceptiongroup==1.2.2
pydantic_core==2.27.1
attrs==24.2.0
httpcore==1.0.9
rware==2.0.0
certifi==2024.8.30
stack-data==0.6.3
Rtree==1.0.0
threadpoolctl==3.5.0
kiwisolver==1.4.7
icecream==2.1.3
cloudpickle==3.1.0
pyparsing==3.2.0
gym-notices==0.0.8
mpyq==0.2.5
sk-video==1.1.10
s2clientprotocol==4.10.1.75800.0
py==1.11.0
h11==0.16.0
sniffio==1.3.1
python-dateutil==2.9.0.post0
mpmath==1.3.0
ipython==8.30.0
torch==2.5.1
pytz==2024.2
orderly-set==5.2.2
wcwidth==0.2.13
packaging==24.2
antlr4-python3-runtime==4.9.3
pillow==11.0.0
probscale==0.2.5
mock==5.1.0
prompt_toolkit==3.0.48
cycler==0.12.1
pip==24.2
vmas==1.4.3
pluggy==1.5.0
tensorboard-logger==0.1.0
pygame==2.6.1
pure_eval==0.2.3
tornado==6.4.2
distro==1.9.0
PySC2==3.0.0
sacred==0.8.7
pbr==6.1.0
jiter==0.10.0
psutil==6.1.0
docker-pycreds==0.4.0
contourpy==1.3.1
sentry-sdk==2.19.2
docopt-ng==0.9.0
sympy==1.13.1
py-cpuinfo==9.0.0
deepdiff==8.0.1
typing_extensions==4.12.2
wmctrl==0.5
httpx==0.28.1
scipy==1.14.1
matplotlib-inline==0.1.7
jsonpickle==4.0.0
Shimmy==2.0.0
pydantic==2.10.3
charset-normalizer==3.4.0
pdbpp==0.10.3
ipdb==0.13.13
tzdata==2024.2
s2protocol==5.0.14.93333.0
gymnasium==1.0.0
platformdirs==4.3.6
slackweb==1.0.5
gym==0.26.2
setproctitle==1.3.4
annotated-types==0.7.0
enum34==1.1.10
omegaconf==2.3.0
six==1.17.0
Pygments==2.18.0
pyglet==1.5.27
click==8.1.7
websocket-client==1.8.0
MarkupSafe==3.0.2
jaraco.text==3.12.1
jaraco.collections==5.1.0
importlib_metadata==8.0.0
jaraco.functools==4.0.1
packaging==24.1
jaraco.context==5.3.0
inflect==7.3.1
autocommand==2.2.2
backports.tarfile==1.2.0
typeguard==4.3.0
wheel==0.43.0
zipp==3.19.2
importlib_resources==6.4.0
tomli==2.0.1
typing_extensions==4.12.2
more-itertools==10.3.0
platformdirs==4.2.2
